<ul class="horizontal-list">
  {% for item in include.collection %}

    <li class="card">
      <a href="{{ item.url }}">
        <span class="header">
          {{ item.title }}

          {% if item.highlight %}
            <mark>{{ item.highlight }}</mark>
          {% endif %}

        </span>

        <hr />

        {% if item.desc != false %}
        <p class="body">
          {{ item.desc }}
        </p>
         <iframe src={{ item.image }} frameborder='0' scrolling='no' allowfullscreen width='640' height='404'></iframe><p> <a href={{ item.image }}>via Gfycat</a></p> 
        {% endif %}
      </a>
    </li>

  {% endfor %}
</ul>
