<ul class="horizontal-list">
  {% for item in include.collection %}

    <li class="card">
      <a href="{{ item.url }}">
        <span class="header">
          {{ item.title }}

          {% if item.highlight %}
            <mark>{{ item.highlight }}</mark>
          {% endif %}
          
        </span>
        <hr />

        {% if item.desc != false %}
        <p class="body">
          {{ item.desc }}
        </p>
        {% endif %}
        <iframe src="https://streamable.com/e/49zx93?autoplay=1&nocontrols=1" width="350" height="350" frameborder="0" allowfullscreen allow="autoplay"></iframe>
      </a>
    </li>

  {% endfor %}
</ul>
