html {
  padding-left: calc(100vw - 100%);
}

body {
  font-family: "Poppins", sans-serif;
}

.badge {
  font-weight: 500;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  margin-bottom: 1rem;
  width: 100%;
  iframe {
    position: absolute;
    height: 100%;
    width: 100%;
  }
}

.bg-light,
.badge-light {
  &,
  * {
    color: $text-black !important;
  }
}

.bg-dark,
.badge-dark {
  &,
  * {
    color: $text-white !important;
  }
}
